* {
}

body {
    background-color: #292524;
    color: #fafaf9;
    font-family: "Sono", sans-serif;
}

.fact-form {
    background-color: #44403c;
}

h1 {
    font-family: "Coiny", system-ui, sans-serif;
    font-size: 42px;
    text-transform: uppercase;
    text-align: center;
}

.fact {
    font-size: 20px;
    line-height: 1.4;
    background-color: #44403c;
}

.tag {
    font-family: "Coiny", system-ui, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}

ul {
    list-style: none;
}
